.useridpage {
	background-image: url("https://external-preview.redd.it/V_Zdztdng29q8g9Hk54TFx3aN0ajD3gO5fMWiHDVW0k.jpg?auto=webp&s=c17943e3a72c1e65396335fded43566cc838ba21");
	/* background-image: url("https://i.redd.it/yeirh6tm5lc61.png"); */

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.userid-bgoverlay {
	height: 100%;
	width: 100%;
	padding-top: 64px;
	padding-bottom: 64px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.753);
	color: antiquewhite;
}
