.biodata-container {
	padding: 16px;
	margin: 16px;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	border-style: solid;
	border-width: 1px;
	border-color: #ff971d;
	border-radius: 1em;

	background-color: rgba(250, 235, 215, 0.2);
}

#biofield:first-letter {
	text-transform: capitalize;
}
