.survey-page {
	background-image: url("https://i.redd.it/drg5ulh4xj661.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.survey-bgoverlay {
	height: 100%;
	width: 100%;
	padding-top: 64px;
	padding-bottom: 64px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.753);
	color: antiquewhite;
}

.survey-nextbtn {
	margin: 16px 0px;
}

#survey-proceedbtntxt {
	font-size: 0.8em;
	padding: 4px;
}

#survey-proceedbtntxt:hover {
	color: #ff971d;
}
