.stimulus-container {
	padding: 32px 16px;
	margin: 8px;
	min-width: 22em;
	max-width: 22em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgba(250, 235, 215, 0.2);

	border-radius: 0.5em;
}

@keyframes zoominoutsinglefeatured {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.03, 1.03);
	}
	100% {
		transform: scale(1, 1);
	}
}

.stimulus-container {
	animation: zoominoutsinglefeatured 4s infinite;
}

.stimulus-text {
	font-size: 1.2em;
	height: 3em;
}

@keyframes zoominoutsinglefeatured2 {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.025, 1.025);
	}
	100% {
		transform: scale(1, 1);
	}
}
.stimulus-text-p {
	animation: zoominoutsinglefeatured2 4s infinite;
}

.stimulus-img {
	height: 128px;
	width: 128px;
	margin: 48px 0px;

	background-image: url("./icon_256.png");
	background-position: center;
	background-size: cover;
}

.stimulus-con {
	width: 100%;
}
